
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="section-body">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Mobile application required to see reports..</h3>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Page_Title").html("Screen Dependant...");
    })
</script>
