
@{
    Layout = "~/Areas/Merchant/Views/Shared/_LayoutMerchant.cshtml";
}

<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div>Total Accounts</div>
                        <div class="py-4 m-0 text-center h1 text-success counter">78</div>
                        <div class="d-flex">
                            <small class="text-muted">This years</small>
                            <div class="ml-auto"><i class="fa fa-caret-up text-success"></i>4%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div>New Account</div>
                        <div class="py-4 m-0 text-center h1 text-info counter">28</div>
                        <div class="d-flex">
                            <small class="text-muted">This years</small>
                            <div class="ml-auto"><i class="fa fa-caret-up text-success"></i>13%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div>Total Current A/C</div>
                        <div class="py-4 m-0 text-center h1 text-warning counter">8</div>
                        <div class="d-flex">
                            <small class="text-muted">This years</small>
                            <div class="ml-auto"><i class="fa fa-caret-up text-success"></i>3%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div>Total Seving A/C</div>
                        <div class="py-4 m-0 text-center h1 text-danger counter">70</div>
                        <div class="d-flex">
                            <small class="text-muted">This years</small>
                            <div class="ml-auto"><i class="fa fa-caret-down text-danger"></i>10%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<script src="~/Content/bundles/counterup.bundle.js"></script>