USE [master]
GO
/****** Object:  Database [salezmark]    Script Date: 12/19/2022 1:06:07 PM ******/
CREATE DATABASE [salezmark]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'salezmark', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\salezmark.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'salezmark_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\salezmark_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [salezmark].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [salezmark]
GO
/****** Object:  User [salezmark]    Script Date: 12/19/2022 1:06:07 PM ******/
CREATE USER [salezmark] FOR LOGIN [salezmark] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [salezmark]
GO
ALTER ROLE [db_datareader] ADD MEMBER [salezmark]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [salezmark]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[ProfileName] [nvarchar](max) NULL,
	[ProfileImageUrl] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[UserType] [int] NOT NULL,
	[LocationId] [int] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UserID] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedByUserId] [nvarchar](128) NULL,
	[AccountSuspend] [bit] NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[DeviceNumber] [nvarchar](max) NULL,
	[DeviceToken] [nvarchar](max) NULL,
	[DeviceFCM] [nvarchar](max) NULL,
	[NotificationEnabled] [bit] NOT NULL,
	[OrderAuthenticationEnabled] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[LocationId] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[AssignedToUserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartHeaders]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartHeaders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](max) NULL,
	[CreatedForUserId] [nvarchar](128) NULL,
	[CreatedByUserId] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.CartHeaders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartLines]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Qty] [decimal](18, 2) NOT NULL,
	[ProductId] [int] NOT NULL,
	[HeaderId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CartLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complains]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complains](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[Complain] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[OrderId] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[AttachFileUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Complains] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavouriteMerchants]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavouriteMerchants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MerchantId] [nvarchar](128) NULL,
	[UserID] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.FavouriteMerchants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Features] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[AddressLine] [nvarchar](max) NULL,
	[LiveModeEnable] [bit] NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MerchantConnections]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantConnections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MerchantId] [nvarchar](128) NULL,
	[ShopkeeperId] [nvarchar](128) NULL,
	[Status] [int] NOT NULL,
	[SubscribeAt] [datetime] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.MerchantConnections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MerchantPackageMetas]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantPackageMetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartingFrom] [datetime] NOT NULL,
	[ValidTill] [datetime] NOT NULL,
	[PackageId] [int] NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsAmountPaid] [bit] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MerchantPackageMetas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NotifyToUserId] [nvarchar](max) NULL,
	[NotifyByUserId] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Isseen] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHeaders]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHeaders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[RejectionComment] [nvarchar](max) NULL,
	[CanceledComment] [nvarchar](max) NULL,
	[DeliveryNote] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PaymentStatus] [int] NOT NULL,
	[DeliveryOption] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ShippingCharges] [decimal](18, 2) NULL,
	[OrderByUserId] [nvarchar](128) NULL,
	[OrderForUserId] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[Type] [int] NOT NULL,
	[OrderAssignedToUserId] [nvarchar](128) NULL,
	[BranchId] [int] NULL,
	[WithCustomDelivery] [bit] NOT NULL,
	[CustomDeliveryTime] [datetime] NULL,
	[OrderCreatedByUserId] [nvarchar](128) NULL,
	[IsPaid] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OrderHeaders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLines]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderHeaderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Qty] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageFeatures]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageFeatures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FeatureId] [int] NOT NULL,
	[PackageId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PackageFeatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DurationType] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderHeaders]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderHeaders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[OrderNumber] [nvarchar](max) NULL,
	[CreatedByUserId] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[SupplierName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PurchaseOrderHeaders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderLines]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[PurchaseOrderHeaderId] [int] NOT NULL,
	[Qty] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseOrderLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AboutUs] [nvarchar](max) NULL,
	[TermsandCondition] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_Category]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[ParentCategoryId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Store_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_Company]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Store_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_Measurement_Units]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_Measurement_Units](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedByUserId] [nvarchar](128) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Store_Measurement_Units] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_Product_Gallery]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_Product_Gallery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[StoreProductId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Store_Product_Gallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_Products]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Specification] [nvarchar](max) NULL,
	[StoreMeasurementUnitId] [int] NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[ActualPrice] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[FeatureImageUrl] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[InStock] [decimal](18, 2) NOT NULL,
	[LowStock] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Store_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_Qty_Movement]    Script Date: 12/19/2022 1:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_Qty_Movement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InQty] [decimal](18, 2) NULL,
	[OutQty] [decimal](18, 2) NULL,
	[PurchaseOrderHeaderId] [int] NULL,
	[OrderHeaderId] [int] NULL,
	[ProductId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[Type] [int] NOT NULL,
	[Cost] [decimal](18, 2) NULL,
	[Price] [decimal](18, 2) NULL,
	[Total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.Store_Qty_Movement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [Country], [State], [City], [AddressLine], [LiveModeEnable], [Latitude], [Longitude], [CreatedOn], [UpdatedAt]) VALUES (1, N'Suriname', N'Parbo', N'Parbo', N'Mimistraat 17', 0, NULL, NULL, CAST(N'2022-11-10T16:53:44.163' AS DateTime), NULL)
INSERT [dbo].[Locations] ([Id], [Country], [State], [City], [AddressLine], [LiveModeEnable], [Latitude], [Longitude], [CreatedOn], [UpdatedAt]) VALUES (2, N'Suriname', N'Parbo', N'Parbo', N'Thuisweg1234', 0, NULL, NULL, CAST(N'2022-11-10T16:56:29.640' AS DateTime), NULL)
INSERT [dbo].[Locations] ([Id], [Country], [State], [City], [AddressLine], [LiveModeEnable], [Latitude], [Longitude], [CreatedOn], [UpdatedAt]) VALUES (3, N'Suriname', N'Paramaribo', N'Paramaribo', N'Parbostraat 123', 0, NULL, NULL, CAST(N'2022-11-14T23:43:37.730' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[MerchantConnections] ON 

INSERT [dbo].[MerchantConnections] ([Id], [MerchantId], [ShopkeeperId], [Status], [SubscribeAt], [CreatedOn], [UpdatedAt]) VALUES (1, N'bf782811-0427-4b20-b005-ac8cf4faddad', N'2e53547f-baeb-42ef-89bf-6da1312809af', 0, NULL, CAST(N'2022-11-14T23:44:54.860' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[MerchantConnections] OFF
GO
SET IDENTITY_INSERT [dbo].[Store_Category] ON 

INSERT [dbo].[Store_Category] ([Id], [Name], [ImageUrl], [CreatedOn], [UpdatedAt], [ParentCategoryId], [IsDeleted]) VALUES (1, N'Soft Drinks', NULL, CAST(N'2022-11-10T11:01:16.957' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Store_Category] ([Id], [Name], [ImageUrl], [CreatedOn], [UpdatedAt], [ParentCategoryId], [IsDeleted]) VALUES (2, N'Ice Cream', NULL, CAST(N'2022-11-10T16:55:06.540' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Store_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Store_Company] ON 

INSERT [dbo].[Store_Company] ([Id], [Name], [ImageUrl], [IsDeleted]) VALUES (1, N'Fernandes', NULL, 0)
SET IDENTITY_INSERT [dbo].[Store_Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Store_Measurement_Units] ON 

INSERT [dbo].[Store_Measurement_Units] ([Id], [Name], [CreatedOn], [UpdatedAt], [CreatedByUserId], [IsDeleted]) VALUES (1, N'Ea', CAST(N'2022-11-10T00:00:00.000' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Store_Measurement_Units] ([Id], [Name], [CreatedOn], [UpdatedAt], [CreatedByUserId], [IsDeleted]) VALUES (2, N'Each', CAST(N'2022-11-13T22:54:37.857' AS DateTime), NULL, N'bf782811-0427-4b20-b005-ac8cf4faddad', 0)
INSERT [dbo].[Store_Measurement_Units] ([Id], [Name], [CreatedOn], [UpdatedAt], [CreatedByUserId], [IsDeleted]) VALUES (3, N'kg', CAST(N'2022-11-13T22:57:20.250' AS DateTime), NULL, N'bf782811-0427-4b20-b005-ac8cf4faddad', 0)
SET IDENTITY_INSERT [dbo].[Store_Measurement_Units] OFF
GO
SET IDENTITY_INSERT [dbo].[Store_Products] ON 

SET IDENTITY_INSERT [dbo].[Store_Products] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CreatedByUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedByUserId] ON [dbo].[AspNetUsers]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_LocationId] ON [dbo].[AspNetUsers]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AssignedToUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedToUserId] ON [dbo].[Branches]
(
	[AssignedToUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_LocationId] ON [dbo].[Branches]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Branches]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CreatedByUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedByUserId] ON [dbo].[CartHeaders]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CreatedForUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedForUserId] ON [dbo].[CartHeaders]
(
	[CreatedForUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HeaderId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_HeaderId] ON [dbo].[CartLines]
(
	[HeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[CartLines]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[Complains]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Complains]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MerchantId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_MerchantId] ON [dbo].[FavouriteMerchants]
(
	[MerchantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserID]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[FavouriteMerchants]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MerchantId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_MerchantId] ON [dbo].[MerchantConnections]
(
	[MerchantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ShopkeeperId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShopkeeperId] ON [dbo].[MerchantConnections]
(
	[ShopkeeperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PackageId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_PackageId] ON [dbo].[MerchantPackageMetas]
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[MerchantPackageMetas]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[OrderHeaders]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderAssignedToUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderAssignedToUserId] ON [dbo].[OrderHeaders]
(
	[OrderAssignedToUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderByUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderByUserId] ON [dbo].[OrderHeaders]
(
	[OrderByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderCreatedByUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderCreatedByUserId] ON [dbo].[OrderHeaders]
(
	[OrderCreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderForUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderForUserId] ON [dbo].[OrderHeaders]
(
	[OrderForUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderHeaderId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderHeaderId] ON [dbo].[OrderLines]
(
	[OrderHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[OrderLines]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FeatureId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_FeatureId] ON [dbo].[PackageFeatures]
(
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PackageId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_PackageId] ON [dbo].[PackageFeatures]
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CreatedByUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedByUserId] ON [dbo].[PurchaseOrderHeaders]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[PurchaseOrderLines]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrderHeaderId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrderHeaderId] ON [dbo].[PurchaseOrderLines]
(
	[PurchaseOrderHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentCategoryId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParentCategoryId] ON [dbo].[Store_Category]
(
	[ParentCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CreatedByUserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedByUserId] ON [dbo].[Store_Measurement_Units]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoreProductId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_StoreProductId] ON [dbo].[Store_Product_Gallery]
(
	[StoreProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Store_Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyId] ON [dbo].[Store_Products]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoreMeasurementUnitId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_StoreMeasurementUnitId] ON [dbo].[Store_Products]
(
	[StoreMeasurementUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Store_Products]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderHeaderId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderHeaderId] ON [dbo].[Store_Qty_Movement]
(
	[OrderHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Store_Qty_Movement]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrderHeaderId]    Script Date: 12/19/2022 1:06:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrderHeaderId] ON [dbo].[Store_Qty_Movement]
(
	[PurchaseOrderHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [AccountSuspend]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [NotificationEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [OrderAuthenticationEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CartHeaders] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Complains] ADD  DEFAULT ((0)) FOR [OrderId]
GO
ALTER TABLE [dbo].[OrderHeaders] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[OrderHeaders] ADD  DEFAULT ((0)) FOR [WithCustomDelivery]
GO
ALTER TABLE [dbo].[OrderHeaders] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ((0)) FOR [DurationType]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Store_Category] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Store_Measurement_Units] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Store_Products] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[Store_Products] ADD  DEFAULT ((0)) FOR [ActualPrice]
GO
ALTER TABLE [dbo].[Store_Products] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Store_Products] ADD  DEFAULT ((0)) FOR [InStock]
GO
ALTER TABLE [dbo].[Store_Products] ADD  DEFAULT ((0)) FOR [LowStock]
GO
ALTER TABLE [dbo].[Store_Products] ADD  DEFAULT ((0)) FOR [CategoryId]
GO
ALTER TABLE [dbo].[Store_Products] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[Store_Qty_Movement] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.AspNetUsers_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.AspNetUsers_CreatedByUserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Locations_LocationId]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Branches_dbo.AspNetUsers_AssignedToUserId] FOREIGN KEY([AssignedToUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_dbo.Branches_dbo.AspNetUsers_AssignedToUserId]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Branches_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_dbo.Branches_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Branches_dbo.Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_dbo.Branches_dbo.Locations_LocationId]
GO
ALTER TABLE [dbo].[CartHeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CartHeaders_dbo.AspNetUsers_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CartHeaders] CHECK CONSTRAINT [FK_dbo.CartHeaders_dbo.AspNetUsers_CreatedByUserId]
GO
ALTER TABLE [dbo].[CartHeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CartHeaders_dbo.AspNetUsers_CreatedForUserId] FOREIGN KEY([CreatedForUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CartHeaders] CHECK CONSTRAINT [FK_dbo.CartHeaders_dbo.AspNetUsers_CreatedForUserId]
GO
ALTER TABLE [dbo].[CartLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CartLines_dbo.CartHeaders_HeaderId] FOREIGN KEY([HeaderId])
REFERENCES [dbo].[CartHeaders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartLines] CHECK CONSTRAINT [FK_dbo.CartLines_dbo.CartHeaders_HeaderId]
GO
ALTER TABLE [dbo].[CartLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CartLines_dbo.Store_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Store_Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartLines] CHECK CONSTRAINT [FK_dbo.CartLines_dbo.Store_Products_ProductId]
GO
ALTER TABLE [dbo].[Complains]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Complains_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Complains] CHECK CONSTRAINT [FK_dbo.Complains_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Complains]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Complains_dbo.OrderHeaders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderHeaders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Complains] CHECK CONSTRAINT [FK_dbo.Complains_dbo.OrderHeaders_OrderId]
GO
ALTER TABLE [dbo].[FavouriteMerchants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FavouriteMerchants_dbo.AspNetUsers_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[FavouriteMerchants] CHECK CONSTRAINT [FK_dbo.FavouriteMerchants_dbo.AspNetUsers_MerchantId]
GO
ALTER TABLE [dbo].[FavouriteMerchants]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FavouriteMerchants_dbo.AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[FavouriteMerchants] CHECK CONSTRAINT [FK_dbo.FavouriteMerchants_dbo.AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[MerchantConnections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MerchantConnections_dbo.AspNetUsers_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MerchantConnections] CHECK CONSTRAINT [FK_dbo.MerchantConnections_dbo.AspNetUsers_MerchantId]
GO
ALTER TABLE [dbo].[MerchantConnections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MerchantConnections_dbo.AspNetUsers_ShopkeeperId] FOREIGN KEY([ShopkeeperId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MerchantConnections] CHECK CONSTRAINT [FK_dbo.MerchantConnections_dbo.AspNetUsers_ShopkeeperId]
GO
ALTER TABLE [dbo].[MerchantPackageMetas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MerchantPackageMetas_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MerchantPackageMetas] CHECK CONSTRAINT [FK_dbo.MerchantPackageMetas_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MerchantPackageMetas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MerchantPackageMetas_dbo.Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MerchantPackageMetas] CHECK CONSTRAINT [FK_dbo.MerchantPackageMetas_dbo.Packages_PackageId]
GO
ALTER TABLE [dbo].[OrderHeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderHeaders_dbo.AspNetUsers_OrderAssignedToUserId] FOREIGN KEY([OrderAssignedToUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[OrderHeaders] CHECK CONSTRAINT [FK_dbo.OrderHeaders_dbo.AspNetUsers_OrderAssignedToUserId]
GO
ALTER TABLE [dbo].[OrderHeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderHeaders_dbo.AspNetUsers_OrderByUserId] FOREIGN KEY([OrderByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[OrderHeaders] CHECK CONSTRAINT [FK_dbo.OrderHeaders_dbo.AspNetUsers_OrderByUserId]
GO
ALTER TABLE [dbo].[OrderHeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderHeaders_dbo.AspNetUsers_OrderCreatedByUserId] FOREIGN KEY([OrderCreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[OrderHeaders] CHECK CONSTRAINT [FK_dbo.OrderHeaders_dbo.AspNetUsers_OrderCreatedByUserId]
GO
ALTER TABLE [dbo].[OrderHeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderHeaders_dbo.AspNetUsers_OrderForUserId] FOREIGN KEY([OrderForUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[OrderHeaders] CHECK CONSTRAINT [FK_dbo.OrderHeaders_dbo.AspNetUsers_OrderForUserId]
GO
ALTER TABLE [dbo].[OrderHeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderHeaders_dbo.Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[OrderHeaders] CHECK CONSTRAINT [FK_dbo.OrderHeaders_dbo.Branches_BranchId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderLines_dbo.OrderHeaders_OrderHeaderId] FOREIGN KEY([OrderHeaderId])
REFERENCES [dbo].[OrderHeaders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_dbo.OrderLines_dbo.OrderHeaders_OrderHeaderId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderLines_dbo.Store_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Store_Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_dbo.OrderLines_dbo.Store_Products_ProductId]
GO
ALTER TABLE [dbo].[PackageFeatures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PackageFeatures_dbo.Features_FeatureId] FOREIGN KEY([FeatureId])
REFERENCES [dbo].[Features] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PackageFeatures] CHECK CONSTRAINT [FK_dbo.PackageFeatures_dbo.Features_FeatureId]
GO
ALTER TABLE [dbo].[PackageFeatures]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PackageFeatures_dbo.Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PackageFeatures] CHECK CONSTRAINT [FK_dbo.PackageFeatures_dbo.Packages_PackageId]
GO
ALTER TABLE [dbo].[PurchaseOrderHeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrderHeaders_dbo.AspNetUsers_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrderHeaders] CHECK CONSTRAINT [FK_dbo.PurchaseOrderHeaders_dbo.AspNetUsers_CreatedByUserId]
GO
ALTER TABLE [dbo].[PurchaseOrderLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrderLines_dbo.PurchaseOrderHeaders_PurchaseOrderHeaderId] FOREIGN KEY([PurchaseOrderHeaderId])
REFERENCES [dbo].[PurchaseOrderHeaders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderLines] CHECK CONSTRAINT [FK_dbo.PurchaseOrderLines_dbo.PurchaseOrderHeaders_PurchaseOrderHeaderId]
GO
ALTER TABLE [dbo].[PurchaseOrderLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrderLines_dbo.Store_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Store_Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderLines] CHECK CONSTRAINT [FK_dbo.PurchaseOrderLines_dbo.Store_Products_ProductId]
GO
ALTER TABLE [dbo].[Store_Category]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Category_dbo.Store_Category_ParentCategoryId] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[Store_Category] ([Id])
GO
ALTER TABLE [dbo].[Store_Category] CHECK CONSTRAINT [FK_dbo.Store_Category_dbo.Store_Category_ParentCategoryId]
GO
ALTER TABLE [dbo].[Store_Measurement_Units]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Measurement_Units_dbo.AspNetUsers_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Store_Measurement_Units] CHECK CONSTRAINT [FK_dbo.Store_Measurement_Units_dbo.AspNetUsers_CreatedByUserId]
GO
ALTER TABLE [dbo].[Store_Product_Gallery]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Product_Gallery_dbo.Store_Products_StoreProductId] FOREIGN KEY([StoreProductId])
REFERENCES [dbo].[Store_Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Store_Product_Gallery] CHECK CONSTRAINT [FK_dbo.Store_Product_Gallery_dbo.Store_Products_StoreProductId]
GO
ALTER TABLE [dbo].[Store_Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Products_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Store_Products] CHECK CONSTRAINT [FK_dbo.Store_Products_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Store_Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Products_dbo.Store_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Store_Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Store_Products] CHECK CONSTRAINT [FK_dbo.Store_Products_dbo.Store_Category_CategoryId]
GO
ALTER TABLE [dbo].[Store_Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Products_dbo.Store_Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Store_Company] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Store_Products] CHECK CONSTRAINT [FK_dbo.Store_Products_dbo.Store_Company_CompanyId]
GO
ALTER TABLE [dbo].[Store_Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Products_dbo.Store_Measurement_Units_StoreMeasurementUnitId] FOREIGN KEY([StoreMeasurementUnitId])
REFERENCES [dbo].[Store_Measurement_Units] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Store_Products] CHECK CONSTRAINT [FK_dbo.Store_Products_dbo.Store_Measurement_Units_StoreMeasurementUnitId]
GO
ALTER TABLE [dbo].[Store_Qty_Movement]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Qty_Movement_dbo.OrderHeaders_OrderHeaderId] FOREIGN KEY([OrderHeaderId])
REFERENCES [dbo].[OrderHeaders] ([Id])
GO
ALTER TABLE [dbo].[Store_Qty_Movement] CHECK CONSTRAINT [FK_dbo.Store_Qty_Movement_dbo.OrderHeaders_OrderHeaderId]
GO
ALTER TABLE [dbo].[Store_Qty_Movement]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Qty_Movement_dbo.PurchaseOrderHeaders_PurchaseOrderHeaderId] FOREIGN KEY([PurchaseOrderHeaderId])
REFERENCES [dbo].[PurchaseOrderHeaders] ([Id])
GO
ALTER TABLE [dbo].[Store_Qty_Movement] CHECK CONSTRAINT [FK_dbo.Store_Qty_Movement_dbo.PurchaseOrderHeaders_PurchaseOrderHeaderId]
GO
ALTER TABLE [dbo].[Store_Qty_Movement]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Store_Qty_Movement_dbo.Store_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Store_Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Store_Qty_Movement] CHECK CONSTRAINT [FK_dbo.Store_Qty_Movement_dbo.Store_Products_ProductId]
GO
USE [master]
GO
